
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center"><strong>WELCOME</strong></h1>

<p style="text-align:justify">
    Công ty bất động sản PPC Rental (PPC = Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC Rental tập trung vào hai lĩnh vực chính:<br />
    - Bất động sản<br />
    - Khu du lịch nghỉ dưỡng<br />
    PPC Rental là sự lựa chọn hài lòng cho khách hàng. PPC Rental được phát triển dựa trên nền tảng là sự hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh.<br />
    PPC Rental cam kết sự hài lòng của khách hàng là mục tiêu thành công lớn của công ty trong tương lai. Vì vậy, PPC Rental tin tưởng rằng có thể nâng cao chất lượng cuộc sống của người dân.<br />
    PPC Rental đặt mục tiêu xây dựng một thương hiệu bền vững, uy tín và là điểm đến hấp dẫn cho các nhà đầu tư. PPC Rental cố gắng liên tục để đạt dược những mục tiêu chiến lược kế hoạch.
</p>

<p style="text-align:center"><img src="~/Images/About/45246085.jpg" /></p>



