
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                
                @if (ViewBag != null)
                {
                    <h2>@ViewBag.Error</h2>
                }
                @using (@Html.BeginForm("Support", "viewDetail", FormMethod.Post))
                {
                    <input type="text" class="form-control" placeholder="Họ và tên *" required name="nameUser" /><br />
                    <input type="text" class="form-control" placeholder="Email *" required name="emailUser" /><br />
                    <input type="text" class="form-control" placeholder="Tiêu đề *" required name="subject" /><br />
                    <textarea class="form-control" placeholder="Nội dung *" rows="5" required name="message"></textarea><br />
                    <button class="btn btn-info" type="submit">Gửi hỗ trợ</button>
                }
            </div>
            <div class="col-lg-6 col-lg-offset-1" style="margin: 0;">

                <div id="map" style="width:auto;height:330px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6320571824044!2d106.69108531418249!3d10.762814262389336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f16ae2cc46f%3A0xbbc7484836e09cf7!2zNDUgTmd1eeG7hW4gS2jhuq9jIE5odSwgQ8O0IEdpYW5nLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1512579854656" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <h3>Địa chỉ</h3>
                <p>45 Nguyễn Khắc Nhu, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh.</p><p>Phone: (08)3514.2135</p><p>Hotline: 0937.737.773</p>
            </div>
        </div>
    </div>
</div>


