
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="col-lg-5">
                    @if (ViewBag != null)
                    {
                        <h2>@ViewBag.Error</h2>
                    }
                    <form class="form-horizontal" action="/Home/Contact" method="post">

                        <input type="hidden">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name" required name="nameUser" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email" required name="emailUser" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Office" required name="subject" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="text" required placeholder="Message" rows="8" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="search-form btn pull-right">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h5>Contact</h5>
    <p>45 Nguyễn Khắc Nhu, Phường Cô Giang, Quận 1, Thành phố Ho Chi Minh.</p><p>Phone: (08)3514.2135</p><p>Hotline: 0937.737.773</p>
</div>

