@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="font-size:20px"><a href="#"><span class="glyphicon glyphicon-home" style="margin-left: 40%"></span><br /> Tên dự án</a></li>
    <li role="presentation" class="active" style="font-size:20px"><a href="#"><span class="glyphicon glyphicon-home" style="margin-left: 30%"></span><br /> Liên hệ</a></li>
</ul>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <h1><b>KING BAY - VIEW 3 MẶT SÔNG </b></h1><div class="break-line" style="background-color:blue; width:300px; height:3px;">

                    </div>
                </th>
                <th align="right" style="color:red"><h1><b>3 tỷ (VNĐ) </b></h1></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="font-size:20px; color:gray">35 Trần Hưng Đạo - QUẬN 1</td>
            </tr>
        </tbody>
    </table>
</div>

<h1>HÌNH ẢNH</h1>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="3">
                    <p style="font-size:15px; align-content:center">
                        Căn hộ Vinhomes Gardenia Mỹ Đình tọa lạc tại khu vực thoáng đãng bậc nhất Hà Nội với mật độ tòa nhà cao tầng thấp nhất nên mỗi căn hộ tại đây sẽ được hưởng tầm view xa và đẹp ngoài sự mong đợi. Nằm trên mặt đường Hàm Nghi với liên kết vùng vượt trội, cư dân sống tại căn hộ Vinhomes Gardenia sẽ dễ dàng đi chuyển đi học, đi làm, đi chơi, về quê,… bởi những tuyến đường huyết mạch nằm ngay sát như Lê Đức Thọ, Hồ Tùng Mậu, đường sắt trên cao tuyến Nhổn – Ga Hà Nội.<br />
                        Chọn căn căn hộ Vinhomes Gardenia Mỹ Đình, trước hết quý vị đã chọn cho mình một sản phẩm chất lượng được kiến tạo bởi bàn tay của ông lớn bất động sản VinGroup, sau đó là một chuỗi tiện ích tuyệt vời hoàn thiện, rồi đến một tổ ấm đẳng cấp với thiệt kế ưu việt từng chi tiết. Dự án ngay từ cái tên đã chứng minh rằng đây là nơi đáng sống bậc nhất Hà Nội: khu vườn xanh được xây dựng bởi thương hiệu hàng đầu”.
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" style="background:blue; font-size:20px">Address</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="font-size:20px">
                <td>Loại căn hộ: chung cư</td>
                <td>Tên dự án: King Man</td>
                <td>Thành phố: Thành phố Hồ Chí Minh</td>
            </tr>
            <tr style="font-size:20px">
                <td>Quận, Huyện: 1</td>
                <td>Phường, Xã: 3</td>
                <td>Đường: Trần Hưng Đạo</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" style="background:blue; font-size:20px">Mô tả chi tiết căn hộ</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="font-size:20px">
                <td>Mã căn hộ: 1</td>
                <td>Giá: 3 tỷ (VNĐ)</td>
                <td>Diện tích: 25 m<sup>2</sup></td>
            </tr>
        </tbody>
        <tbody>
            <tr style="font-size:20px">
                <td>Phòng khách: 1</td>
                <td>Phòng ngủ: 2</td>
                <td>Phòng tắm: 2</td>
            </tr>
            <tr style="font-size:20px"><td colspan="3">Số chỗ đậu xe: 2</td></tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" style="background:blue; font-size:20px">Tiện ích</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="font-size:15px;text-align:left">
                <td><label><input type="checkbox" />Ban công</label></td>
                <td><label><input type="checkbox" />Chỗ đậu xe</label></td>
                <td><label><input type="checkbox" />Thang máy</label></td>
            </tr>
            <tr style="font-size:15px;text-align:left">
                <td><label><input type="checkbox" />Vườn</label></td>
                <td><label><input type="checkbox" />Phòng tập Gym</label></td>
                <td><label><input type="checkbox" />Nhà bếp</label></td>
            </tr>
            <tr style="font-size:15px;text-align:left">
                <td><label><input type="checkbox" />Phòng giặc ủi</label></td>
                <td><label><input type="checkbox" />Chỗ nuôi thú cưng</label></td>
                <td><label><input type="checkbox" />Hồ bơi</label></td>
            </tr>
            <tr style="font-size:15px;text-align:left">
                <td><label><input type="checkbox" />Sàn gỗ</label></td>
                <td colspan="2"> <label><input type="checkbox" />Bảo vệ</label></td>
            </tr>
        </tbody>

    </table>
</div>


