@{
    ViewBag.Title = "lienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="font-size:20px"><a href="#"><span class="glyphicon glyphicon-home" style="margin-left: 40%"></span><br /> Tên dự án</a></li>
    <li role="presentation" class="active" style="font-size:20px"><a href="#"><span class="glyphicon glyphicon-envelope" style="margin-left: 30%"></span><br /> Liên hệ</a></li>
</ul>
<h1 style="border-bottom:4px ">LIÊN HỆ</h1>
<div class="break-line" style="background-color:blue; width:300px; height:3px;"></div>
<br />
<br />
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <h4 style="border-bottom:4px ">CĂN HỘ KINGMAN - PHÒNG KINH DOANH DỰ ÁN</h4>
                    <div class="break-line" style="background-color:blue; width:100px; height:3px;"></div>
                </th>
                <th>
                    <h4 style="border-bottom:4px ">FORM LIÊN HỆ CHỦ DỰ ÁN</h4>
                    <div class="break-line" style="background-color:blue; width:100px; height:3px;"></div>
                </th>
            </tr>
            <tr>
                <td>Địa chỉ: Phường Cô Giang, Quận 1, TP. HCM</td>
                <td>
                    <div class="form-group" style="width:100%">

                        <div class="col-sm-10" style="width:100%">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Họ và Tên *">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Điện thoại: 1234567890</td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10" style="width:100%">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Điện thoại *">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Email: vanlanguni.vn</td>
                <td>
                    <div class="form-group">

                        <div class="col-sm-10" style="width:100%">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Email *">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10" style="width:100%">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Nội dung *"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button style="width:95%" class="btn btn-info"> Gửi Email</button>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
</div>
