body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.nav-tabs{
    margin-top:5%;
}
.col-md-6{
    margin-top:5%;
}
.col-md-6>h3{
    margin-top:5%;
}
.col-md-6>input{
    margin-top:2%;
}
.col-md-6>textarea{
    margin-top:2%;
}
.col-md-6>button{
    margin-top:2%;
   
}
.sale-select-option {
    width: 250px;
    font-size: 22px;
    opacity: 0.5;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 5px;
}
.sale-select-option11 {
    font-size: 22px;
    opacity: 0.5;
    padding-left: 10px;
    border-radius: 5px;
}

.sale-select-option1 {
    font-size: 22px;
    opacity: 0.5;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 5px;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
}
.sale-table-head {
    text-align: center;
    background-color: antiquewhite;
    font-size: 16px;
}
.form-control {
    max-width : 413px;
    max-height: 200px;
}
.form-control-radio {
    width : 40px;
    margin: 8px 0 0;
}

