
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutSale.cshtml";
}

<body style="background-color: #e0e0d1;">
    <div>
        <div class="col-md-1">
            <img src="~/Images/ImageSale/if_scroll left_36560.png" style="width:38px; margin-left: 50%" />
        </div><h1>Danh sách dự án</h1>
    </div>
    <nav class="navbar navbar-default" role="navigation" style="border: 1px solid;">
        <div class="container-fluid" style="margin-top: 10px">
            <div class="col-md-3">
                <select class="sale-select-option">
                    <option>Tên dự án</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="sale-select-option1">
                    <option>Loại</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="sale-select-option1">
                    <option>Quận</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="sale-select-option">
                    <option>Đường</option>
                </select>
            </div>
            <div class="col-md-3 text-right" style="font-size:18px;">
                <button type="submit" style="border-radius : 5px;margin-right: 20px;"><span class="glyphicon glyphicon-search"></span> Tìm kiếm</button>
                <img src="~/Images/ImageSale/if_edit_add_3219.png" style="width: 18px;" />
                <button type="button" style="font-size:18px;border-radius : 5px;">Add</button>
            </div>
        </div><!-- /.container-fluid -->

    </nav>

</body>



